@keyframes swing1 {
    0% {
        transform: translate(-30vw, -200px);
    }
    50% {
        transform: translate(20vw, 200px);
    }
    100% {
        transform: translate(-30vw, -200px);
    }
}
@keyframes swing2 {
    0% {
        transform: translate(70vw, 200px);
    }
    50% {
        transform: translate(30vw, -200px);
    }
    100% {
        transform: translate(70vw, 200px);
    }
}
@keyframes swing3 {
    0% {
        transform: translate(70vw, -200px);
    }
    50% {
        transform: translate(30vw, 200px);
    }
    100% {
        transform: translate(70vw, -200px);
    }
}
@keyframes swing4 {
    0% {
        transform: translate(-30vw, 200px);
    }
    50% {
        transform: translate(20vw, -200px);
    }
    100% {
        transform: translate(-30vw, 200px);
    }
}
.animate_container {
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
}
.circle1 {
    position: absolute;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-color: rgba(8, 0, 255, 0.3);
    animation-name: swing1;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}
.circle2 {
    position: absolute;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.3);
    animation-name: swing2;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
.circle3 {
    position: absolute;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-color: rgba(255, 247, 0, 0.3);
    animation-name: swing3;
    animation-iteration-count: infinite;
    animation-duration: 40s;
}
.circle4 {
    position: absolute;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-color: rgba(0, 255, 13, 0.3);
    animation-name: swing4;
    animation-iteration-count: infinite;
    animation-duration: 45s;
}
div {
    z-index: 2;
}