@keyframes fadeOut {
    0% {
        opacity: 0;
        top: 0px;
    }
    10% {
        opacity: 1;
        top: 73px;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.message_container {
    position: absolute;
    top: 73px;
    width: 100%;
    display: flex;
    justify-content: center;
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
.message_success {
    width: 700px;
    margin: auto;
    max-width: 90%;
    padding: 10px 0;
    border-radius: 5px;
    border: 2px solid green;
    padding-left: 20px;
    transition: 1s;
}