@keyframes moveLeftToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.slider_container {
    width: 100%;
    overflow: hidden;
}
.slider {
    border-top: 1px solid #6e6e6e;;
    border-bottom: 1px solid #6e6e6e;;
    width: 200%;
    animation: moveLeftToRight 10s linear infinite; 
    display: flex;
}
.slider_item {
    display: flex;
    position: relative;
    top: 25px;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.slider h2 {
    font-weight: 100;
    font-size: 20px;
    color: #FAF8FF;
    animation: slide 20s linear infinite;
    white-space: nowrap;
}