p {
  text-indent: 20px;
  margin: 5px;
}
h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 40px;
  text-align: center;
}
h2 {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 100;
}
.format_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.format_page button {
  margin: 30px 0 10px 0;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #1A5B7C;
  color: aliceblue;
  border: none;
  transition: .4s ease;
}
.format_page button:hover {
  background-color: #00AAB9;
  cursor: pointer;
}
.format_page button:active {
  background-color: #6BFBCE;
  cursor: pointer;
}
.center_page {
  width: 1000px;
    max-width: 100%;
    margin: auto;
}