header {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(14, 14, 14);
  border-bottom: 1px solid black;
}
.develapp {
  font-weight: bold;
  font-size: 1.2rem;
}
.header_container {
  width: 1000px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.link {
  margin: 0 10px;
  text-decoration: none;
}
.register {
  background-color: #1A5B7C;
  border-radius: 5px;
  padding: 5px 20px;
  transition: .4s;
}
.register:hover {
  background-color: #00AAB9;
}
.register:active {
  background-color: #6BFBCE;
}
.narrow_header {
  display: none;
}
.nav {
  margin-left: 10px;
}
.bars {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.bar {
  width: 35px;
  height: 3px;
  margin: 6px 0px;
  border-radius: 5px;
}
.link:hover {
  color: white;
}

@media (max-width: 700px) {
  .wide_header {
    display: none;
  }
  .narrow_header {
    display: block;
  }
}